:root {
    --shark: #1E2122;
    --silver-rust: #CBC0B8;
    --light-blue: #8199A8;
    --dark-blue: #688699;
}
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
 @font-face {
    font-family: 'NorseBold';
    src: url('fonts/Norse-Bold.otf');
}

body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--shark);
    overflow:visible;
}
.wrapper {
    height: 100%;
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
}
.headers {
    margin: 0px 16px;
}
section {
    width: 100%;
    display: block;
    background-image: url('images/city.jpg');
    background-position: center;
    background-size: cover;
}
.floating {
    width: 100%;
    background-color: black;
    opacity: 0.7;
    font-family: 'NorseBold';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
.floating > h1 {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 4rem;
    position: relative;
    padding-top: 15px;
}
.floating > h1::before {
    display: block;
    content: url('images/logo.png');    
    display: inline-block;
}
.floating > h4 {
    position: absolute;
    top: 2px;
    color: white;
    margin-top: 0px;
}
fieldset {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--shark);
    border-radius: 10px;
    -webkit-box-shadow: 3px 9px 24px -15px rgba(66, 68, 90, 1);
-moz-box-shadow: 3px 9px 24px -15px rgba(66, 68, 90, 1);
box-shadow: 3px 9px 24px -15px rgba(66, 68, 90, 1);
}

fieldset > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
fieldset > div:nth-child(2) {
    margin-top: 0px;
}
label {
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 5px;
}
input {
    border-radius: 3px;
    border: 1px solid gray;
    height: 18px;
    
}
input:focus {
    border: 1px solid var(--light-blue);
    transition: 1s;
}

.lowerSite  {
    margin: 15px 0px 0px 16px;
}

button {
    height: 45px;
    width: 150px;
    font-size: 1rem;
    background-color: #48929B;
    border: 1px solid var(--shark);
    border-radius: 5px;
    color: white;
}
.logIn {
    font-size: 1.2rem;
}
main {
    max-width: 700px;
    margin: 0 auto;
}
a:link {
    color:  var(--light-blue);
}
a:visited {
    color: var(--dark-blue);
}

@media only screen and (min-width: 1240px) {
    body {
        height: 100vh;
    }
    .wrapper {
        margin: 0 auto;
        flex-direction: row;

    }
    .floating {
        position: relative;
        top: 300px;
    }
    .floating > h4 {
        position: fixed;
        top: auto;
        bottom: 20px;
        color: white;
    }
    .floating > h1 {
        padding-top: 0px;
    }
    section {
        display: block;
        width: 40vw;
    }
    main {
        width: 60vw;
        margin: 0;
        padding-left: 40px;
        padding-top: 60px;
    }
    fieldset {
        gap: 10%;
        max-width: 700px;
        
    }
    fieldset > div {
        width: 45%;
        margin-top: 5px !important;
        margin-bottom: 10px;
    }
    input {
        max-width: 250px;
    }
    .headers {
        margin-left: 0px;
    }
    .lowerSite {
        margin-left: 0px;
    }
}